<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>contribution</title>

</head>
<body>

	<% include partials/top %>
	<% if(diff.length === 0){ %>

		<h1> looks like a fresh field; Go head plow away~!  </h1>

	<% }else{ %>
	<h2> recent diffs: </h2>
	<div class = "list">
	<% for(var j = 0; j < diff.length; j++){ %>
		<p> <%= diff[j].updated_at %>
		<%= diff[j].name %> of <%= diff[j].location %>
		<a href = "/documents/<%= diff[j].document_id %>/contributions/<%= diff[j].diff_id %>"> <%= diff[j].edit_summary %></a> </p> 
	<% } %>
	</div>
	<% } %>

</body>
</html>