<!DOCTYPE html>
<body>
	<!-- update form -->
	<h3>Update <%= document.name %> here:</h3>
	<form method="POST" action="/documents/<%= document.id %>?_method=PUT">
		<input type="text" name="title" value="<%= document.title %>"><br>

	<!-- choose contributor id  -->

	<select name ="user">
		<option> select user </option>
		<% Object.keys(users).forEach(function(key){ %>
		<option value = "<%= users[key].id %>"> <%= users[key].name %></option>
		<% }); %> 
	</select>

		<input type="text" name ="image" value="<%= document.image %>"><br>

		<textarea name="content" rows="30" cols="60" ><%= document.content %></textarea><br>

		<input type="text" name="edit_summary" placeholder ="please summarize your changes" required> 

		<button>update</button>
	</form>
</body>
</html>