<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<h2><%= document.title %></h2>
	<a href= "/users/<%= author.id%>"><%= author.name %></a>  <p> of <%= author.location %> created document on <%= document.created_at %> </p>

	<p> last updated <%= document.updated_at %></p>
	<a href='/documents/<%= document.id %>/contributions'> see history </a><br>
	<a href='/documents/<%= document.id %>/talk'> talk </a><br>

	<img src="<%=document.image %>" width = "auto" height = "300px" style = "float:right" >
	  <%- markedContent %>

	<a href='/documents/<%= document.id %>/subscribe'> subscribe to updates</a>  //or\\  (╯°□°）╯︵ ┻━┻
	<a href='/documents/<%= document.id %>/unsubscribe'> unsubscribe </a> <br>

	<a href='/documents/<%= document.id %>/edit'> edit content </a>

	<!-- delete the document -->
	<form method="POST" action="/documents/<%= document.id %>?_method=DELETE">
		<button>DELETE document</button>
	</form>

	<a href='/documents'> read more documents </a>
</body>
</html>
