<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>rock profile</title>

</head>
<body>
	<h1><%= document.title %></h1>
	<div class ="topleft">
	<% if (author != null) { %> 
	created by
	<a href= "/users/<%= author.id%>"><%= author.name %></a>  <p> of <%= author.location %>
	<% } %>
	 on <%= document.created_at.substring(0,10) %> </p>
	<a href='/documents/<%= document.id %>/subscribe'> subscribe |</a>
	<a href='/documents'> read other </a>
	<a href='/documents/<%= document.id %>/talk'> | talk </a>
	
	</div>

	<div class ="topright">
	<p> updated <%= document.updated_at %></p>
	<a href='/documents/<%= document.id %>/edit'> edit content |</a>
	<a href='/documents/<%= document.id %>/contributions'> see history</a><br>
	</div>

	<div class ="content">
	<img src="<%=document.image %>">
	  <%- markedContent %><br>
	</div>

	<div class = "footer">
	(╯°□°）╯︵ ┻━┻<br>
	<a href='/documents/<%= document.id %>/unsubscribe'> unsubscribe </a> <br>
	<!-- delete the document -->
	<form method="POST" action="/documents/<%= document.id %>?_method=DELETE">
		<button>DELETE document</button>
	</form>
	</div>

</body>
</html>
