<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>wikiROCKS</title>
</head>
<body>

<% include partials/top %>
	<h1> wiki ~/ |  rocks  | \~ ikiw  </h1> 
	<div class = "leftchunk">
	search for document by title 
	<form method = "GET" action = "/documents/search" >
	<input type ="text" name = "title" placeholder = "exact title"> 
	<button>search</button>
	</form>

	<h2> recent activities </h2>
<ul>
<% Object.keys(act).forEach(function(key){ %>
	<!-- glitch here: if user or document was deleted . . . name and title doesn't show  -->
	<% if(act[key].user_id && act[key].document_id) { %>
		<a href= "/users/<%= act[key].user_id %>"><%= act[key].name %></a> 
		<%= act[key].event%>
		<a href= "/documents/<%= act[key].document_id %>"><%= act[key].title %></a>  <%= act[key].created_at %><br>
	<% }else if(act[key].user_id === null ){ %> 
		<a href= "/documents/<%= act[key].document_id %>"><%= act[key].title%> </a>
		<%= act[key].event%>  <%= act[key].created_at %> <br>
	<% }else if(act[key].document_id === null){ %>
		<a href= "/users/<%= act[key].user_id %>"><%= act[key].name %></a>
		<%= act[key].event%>  <%= act[key].created_at %> <br>
	<% }else{ %>
			<%= act[key].name %></a> <%= act[key].event%> <%= act[key].title%> </a> <%= act[key].created_at %> <br>
		<% } %>
<% }); %>
</ul>
	</div>
</body>
</html>