<!DOCTYPE html>
<head>
</head>

<body>
	<!-- TALK TALK TALK  -->
	<h3> <%= doc.title %> </h3>

	<% if(talks.length === 0){ %>

		<p> start the conversation </p>

	<% }else{ %>

		<% Object.keys(talks).forEach(function(key){ %>	

		<!-- figure out how to display childen comments in parents, if tallks[key].parent_id is true . . . diplay as sub-commentary to the parent comment   -->
		<div class ="talk">
			<%= users[talks[key].user_id-1].name %> : <%= talks[key].note %> @ <%= talks[key].updated_at %> <br>
			<a href = '/documents/<%=doc.id %>/talk/<%=talks[key].id%>/new'>reply</a>
		</div>

	<% });} %>
	<br><br><br>
	-------------------------------------------------------------------------
	<br><br>
	<!-- new comments  -->
	<form method="POST" action="/documents/<%= doc.id %>/talk/start">
		<!-- choose talk id  -->
		<select name ="user" required>
			<option> select user </option>
			<% Object.keys(users).forEach(function(key){ %>
			<option value = "<%= users[key].id %>"> <%= users[key].name %></option>
			<% }); %> 
		</select><br>
		<br><textarea name="note" placeholder = "join the talk" rows="10" cols="60" required></textarea><br>

		<button>talk</button>
	</form>
</body>
</html>