<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>talk talk</title>
</head>
<body>
	<% include partials/top %>


	<a href = '/users/<%= talk.user_id %>'> <%= talk.name %> </a>: <%= talk.note %><br> @ <%= talk.updated_at %> <br><br><br>
	
  	<form method="POST" action="/documents/<%= doc.id %>/talk/<%=talk.talk_id %>/talk">
		<!-- choose talk id  -->
		<select name ="talker" required>
			<option> select talker </option>
			<% Object.keys(users).forEach(function(key){ %>
			<option value = "<%= users[key].id %>"> <%= users[key].name %></option>
			<% }); %> 
		</select><br>
		<br><textarea name="note" placeholder = "join the talk" rows="10" cols="60" required></textarea><br>

		<button>talk</button>
	</form>


</body>
</html>