<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2><%= users.name %></h2>
	<p>@ <%= users.location %>, <%= users.pitch %></p>


	<div class ="authored">
	wrote: <br>

		<% authorship.forEach(function(key){ %> 
			<a href="/documents/<%= key.id %>"> <%= key.title %> </a> on <%= key.created_at %>
		<% }); %>

	</div>

	<div class ="contributed">
	contributed to: <br>
		<% contribution.forEach(function(key){ %> 
		<a href="/documents/<%= key.id %>"> <%= key.title %> </a> 
		<% }); %>
	</div>

	<div class ="subscribed">
	subscribed to: <br>
		<% subscription.forEach(function(key){ %> 
		<a href="/documents/<%= key.id %>"> <%= key.title %> </a> 
		<% }); %>
	</div>

	<a href ="/users/<%= users.id %>/edit"> edit user profile </a>
	<!-- delete the user -->
	<form method="POST" action="/users/<%= users.id %>?_method=DELETE">
		<button>DELETE user</button>
	</form>

<a href="/users"> see other members </a>

</body>
</html>
