<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style.css" href='http://fonts.googleapis.com/css?family=Lato'>
	<title>rocker profile</title>
</head>
<body>

<h2><%= users.name %></h2>

<div class ="content">
	<p>of <%= users.location %> <br> <%= users.pitch %></p>
	<div id="authored">
	wrote: <br>

		<% authorship.forEach(function(key){ %> 
			<a href="/documents/<%= key.id %>"> <%= key.title %> </a> on <%= key.created_at %>
		<% }); %>

	</div>

	<div id="contributed">
	contributed to: <br>
		<% contribution.forEach(function(key){ %> 
		<a href="/documents/<%= key.id %>"> <%= key.title %> </a> |
		<% }); %>
	</div>

	<div id="subscribed">
	subscribed to: <br>
		<% subscription.forEach(function(key){ %> 
		<a href="/documents/<%= key.id %>"> <%= key.title %> </a> |
		<% }); %>
	</div>
</div>
	<div class = "footer">
	<a href="/users"> other rockers | </a>
	<a href ="/users/<%= users.id %>/edit"> edit profile </a>
	<form method="POST" action="/users/<%= users.id %>?_method=DELETE">
		<button>delete</button>
	</form>
	</div>
</body>
</html>
